.main-header {
  display: flex;
  outline: 1px solid red;
  align-items: center;
  height: 6rem;
  overflow:visible;
  background-image: url('./assets/brickwall.jpg');
  color: white;
  font-weight: 800;
}

.main-header nav {
  width: 100%;
}

.main-header label, #hamburger { display: none; }

.main-header nav a {
  width: calc(100% / 7);
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.main-header nav a:hover {
  background: #401408;
}


.main-header ul {
  display: flex;
}

.main-header li {
  margin: 1.5em;
  list-style: none;
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header a:visited {
  color: white;
}

@media screen and (max-width: 900px){
  /* Show Hamburger Icon */
  .main-header label { 
    display: block; 
    color: white;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
    float: right;
  }

  /* Break down menu items into vertical */
  .main-header nav a {
    display: block;
    width: 100%;
  }


  /* Toggle Show/Hide Menu */
  .main-header ul {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darkgrey;
    height: 100vh;
    z-index: 1;
    text-align: center;

  }
  .main-header input:checked ~ ul { display: block; }
}

.logo {
  position: relative;
  left: -2rem;
  top: 1.5em;
  height: 15rem;
  pointer-events: none;
}

