html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231, 226, 209);
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  position: relative;
  height: 100%;
}

.main-header {
  position: relative;
  top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  overflow: visible;
  background-color: rgb(61, 11, 11);
  color: white;
  font-weight: 800;

  nav ul {
    // margin-top: 5rem;
    overflow: hidden;
  }

  nav ul a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  li {
    width: 100%;
    margin-top: 1.5em;
    list-style: none;
  }
  & nav a:hover,
  nav ul li:last-child:hover {
    background: #401408;
  }
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header a:visited {
  color: white;
}

/* Show Hamburger Icon */
.main-header label {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: block;
  color: white;
  font-style: normal;
  font-size: 2em;
  padding: 10px;
  float: right;
}

/* Break down menu items into vertical */
.main-header nav a {
  display: block;
  width: 100%;
}

/* Toggle Show/Hide Menu */
.main-header ul {
  display: block;
  position: fixed;
  left: -250px;
  top: -5rem;
  width: 250px;
  background-color: #222222;
  height: 200vh;
  margin-top: 5rem;
  z-index: 100;
  text-align: center;
  transition: left 0.7s;

  li {
    width: 100%;
  }
}

.main-header input:checked ~ ul {
  display: block;
  left: 0;
}

.main-header ul li:last-child {
  padding: 0.75em;
}

.main-header a:hover,
.main-header ul li:last-child:hover {
  color: rgb(224, 212, 37);
}

#hamburger {
  display: none;
}

figure.logo {
  display: block;
  position: relative;
  left: 1rem;
  top: -1rem;
  width: 180px;
  height: 180px;
  z-index: 10;
  background-image: url("./images/bountifulbasementlogo.png");
  background-size: 190% 190%;
  background-position: 50% 40%;
  overflow: visible;
}

.alertbar {
  position: relative;
  top: 3rem;
  min-height: 24px;
  background-color: darkred;
  color: rgb(224, 212, 37);
  text-align: center;
  font-size: 1.1rem;
}

.alertbar h1 {
  display: none;
}

.home {
  position: relative;
  top: 3rem;

  .food-insecurity {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 244);
    width: 100%;
    min-height: 50vh;

    figure {
      background-image: url("./assets/woman.jpg");
      background-repeat: no-repeat;
      background-position: 50% 25%;
      background-size: cover;
      height: 50vh;
      width: 100%;
      transform: scaleX(-1);
    }

    article {
      margin: 1rem 0 2rem 2rem;
      width: calc(100vw - 4rem);
      font-size: 1vw;

      h1 {
        margin-top: 3rem;
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1rem;
        font-style: italic;
      }
      p {
        font-size: 1rem;
        max-width: 100%;
        white-space: normal;
      }
    }
  }
}

.home {
  .bb-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(253, 253, 246);

    a:visited {
      color: black;
    }

    figure {
      position: relative;
      height: 50vh;
      width: 100%;
      margin: 0 auto;
    }

    figure::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./assets/bb-sign\ 2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
    }

    article {
      padding: 2rem;
    }

    p {
      max-width: 100%;
      margin: 0.5rem 2rem;
      font-size: 1rem;
    }
  }
}

.home {
  .bb-close {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(253, 253, 246);

    a:visited {
      color: black;
    }

    figure {
      position: relative;
      height: 50vh;
      width: 300%;
      margin: 0 auto;
    }

    figure::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./assets/porcelain-plate-1227008_1920.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
    }

    article {
      padding: 2rem;
    }

    p {
      max-width: 100%;
      margin: 0.5rem 2rem;
      font-size: 1rem;
    }
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #401408;
  background-color: darkred;
  text-align: center;
  height: 6rem;
  margin: 0;
  padding: 0;

  button {
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 15rem;
  top: 0;
  bottom: -2rem;
  max-width: 100%;
  color: white;
  background-color: darkred;

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;

    & > a {
      display: block;
      position: relative;
      top: 0.5rem;
      left: 1rem;
      width: 200px;
      height: 200px;
      margin-right: 1rem;
      overflow: hidden;
      background: url("./images/bountifulbasementlogo.png") no-repeat;
      background-size: 175% 175%;
      background-position: center center;
    }

    nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 5rem;

      & > a {
        float: right;
        font-size: 2rem;
        text-align: right;
        color: white;
        text-decoration: none;
      }

      & > a:hover {
        color: rgb(224, 212, 37);
      }
    }
  }

  section {
    width: 100%;

    article + article {
      margin-left: 2rem;
    }

    article {
      h2 {
        font-size: 1.25rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
}

.home .main-footer {
  top: 2rem;
}

.main-footer {
  width: 100%;
  max-width: 100%;
}
.base-footer {
  width: 100%;

  h1 {
    display: block;
    text-align: center;
    background-color: #401408;
    width: 100%;
    // max-width: 100%;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 850px) {
  footer .main {
    flex-direction: column;

    & > * {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    nav {
      // display: none !important;
      position: static !important;
      text-align: center !important;

      a {
        justify-self: center !important;
        text-align: center !important;
      }
    }
  }
}

@media screen and (min-width: 280px) {
  .logo {
    display: block;
    height: 20rem;
    top: 0;
  }

  .alertbar h1 {
    position: relative;
    font-size: 0.75rem;
    top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-header label,
  #hamburger {
    display: none;
  }

  .main-header {
    nav ul {
      position: relative;
      top: 0;
      left: 6rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      background-color: transparent;
      height: 6rem;
      margin-top: 0;
      z-index: 101;
      text-align: left;
      transition: none;

      li {
        width: calc(100% / 7);
      }
    }
  }

  .main-header nav {
    width: calc(100vw - 15rem);
    position: relative;
    left: -8rem;
  }

  .main-header ul li:last-child {
    margin-top: 1.45rem;
  }

  .alertbar h1 {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 3rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .home {
    position: relative;
    top: 3rem;

    .food-insecurity {
      flex-direction: row;
      min-height: 25rem;
      width: 100%;

      figure {
        background-position: 100% 100%;
        background-size: cover;
        height: 25rem !important;
        width: 75% !important;
      }

      article {
        // margin: 2rem;
        min-height: 50%;
        width: 50%;

        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
          white-space: normal;
        }
      }
    }
  }

  section .bb-intro {
    flex-direction: row-reverse !important;

    & figure {
      height: 100%;
      flex: 1;
    }

    article {
      flex: 0.85;

      p {
        max-width: 100% !important;
        margin: 0.5rem !important;
        font-size: 1.75rem !important;
      }
    }
  }

  section .bb-close {
    p {
      max-width: 100% !important;
      margin: 0.5rem !important;
      font-size: 1.75rem !important;
    }
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    min-height: 100%;
  }
}

.login {
  margin-top: 6rem;
}
